airquality_crawler/airquality_data_full.csv
dwd_station_data/wetterdaten_01-01_02-01.csv
airquality_crawler/data/airquality_2016-01-01_2016-01-02.csv
airquality_crawler/data/airquality_2016-01-01_2016-02-01.csv
airquality_crawler/data/airquality_2016-01-01_2017-01-01.csv
airquality_crawler/data/airquality_full.csv
dwd_station_data/data/wetterdaten_2016-01-01_2016-02-01.csv
dwd_station_data/data/wetterdaten_2016-02-01_2016-03-01.csv
dwd_station_data/data/wetterdaten_2016-03-01_2016-04-01.csv
dwd_station_data/data/wetterdaten_2016-04-01_2016-05-01.csv
dwd_station_data/data/wetterdaten_2016-05-01_2016-06-01.csv
dwd_station_data/data/wetterdaten_2016-06-01_2016-07-01.csv
dwd_station_data/data/wetterdaten_2016-07-01_2016-08-01.csv
dwd_station_data/data/wetterdaten_2016-08-01_2016-09-01.csv
dwd_station_data/data/wetterdaten_2016-09-01_2016-10-01.csv
dwd_station_data/data/wetterdaten_2016-10-01_2016-11-01.csv
dwd_station_data/data/wetterdaten_2016-11-01_2016-12-01.csv
dwd_station_data/data/wetterdaten_2016-12-01_2017-01-01.csv
dwd_station_data/data/wetterdaten_2017-01-01_2017-02-01.csv
dwd_station_data/data/wetterdaten_2017-02-01_2017-03-01.csv
dwd_station_data/data/wetterdaten_2017-03-01_2017-04-01.csv
dwd_station_data/data/wetterdaten_2017-04-01_2017-05-01.csv
dwd_station_data/data/wetterdaten_2017-05-01_2017-06-01.csv
dwd_station_data/data/wetterdaten_2017-06-01_2017-07-01.csv
dwd_station_data/data/wetterdaten_2017-07-01_2017-08-01.csv
dwd_station_data/data/wetterdaten_2017-08-01_2017-09-01.csv
dwd_station_data/data/wetterdaten_2017-09-01_2017-10-01.csv
dwd_station_data/data/wetterdaten_2017-10-01_2017-11-01.csv
dwd_station_data/data/wetterdaten_2017-11-01_2017-12-01.csv
dwd_station_data/data/wetterdaten_2017-12-01_2018-01-01.csv
dwd_station_data/data/wetterdaten_2018-01-01_2018-02-01.csv
dwd_station_data/data/wetterdaten_2018-02-01_2018-03-01.csv
dwd_station_data/data/wetterdaten_2018-03-01_2018-04-01.csv
dwd_station_data/data/wetterdaten_2018-04-01_2018-05-01.csv
dwd_station_data/data/wetterdaten_2018-05-01_2018-06-01.csv
dwd_station_data/data/wetterdaten_2018-06-01_2018-07-01.csv
dwd_station_data/data/wetterdaten_2025-01-01_2025-02-01.csv
merge_airquality_weather/data/airquality.csv
merge_airquality_weather/data/airquality_2016-01-01_2016-01-02.csv
merge_airquality_weather/data/airquality_2016-01-01_2016-01-02_clean.csv
merge_airquality_weather/data/airquality_2016-01-01_2016-01-02_clean_short.csv
merge_airquality_weather/data/airquality_2016-01-01_2016-02-01.csv
merge_airquality_weather/data/airquality_2016-01-01_2016-02-01_clean.csv
merge_airquality_weather/data/airquality_2016-01-01_2016-02-01_clean_short.csv
merge_airquality_weather/data/weather.csv
merge_airquality_weather/data/wetterdaten_2016-01-01_2016-01-02.csv
merge_airquality_weather/data/wetterdaten_2016-01-01_2016-01-02_clean.csv
merge_airquality_weather/data/wetterdaten_2016-01-01_2016-01-02_clean_short.csv
merge_airquality_weather/data/wetterdaten_2016-01-01_2016-02-01.csv
merge_airquality_weather/data/wetterdaten_2016-01-01_2016-02-01_clean.csv
merge_airquality_weather/data/wetterdaten_2016-01-01_2016-02-01_clean_short.csv
